html {
	background:rgb(166, 150, 119);
}


h1 {
	margin-top:0px;
	float: left;
	font: normal normal bold 1.5em/1.5 Helvetica, Arial, sans-serif; /*20px*/
}

h2 {
	font: normal normal bold 1.25em/1.5 Helvetica, Arial, sans-serif; /*20px*/
}


/* Navigation Start */



nav ul {
	list-style-type:none;
	margin-top:0%;
	float:right;
	padding-left:0%;
	width: 40.81632653%; /* 400px */
	color:rgb(38, 1, 1);
	overflow:hidden;
 
}	





nav li {
	list-style-type:none;
	background:rgb(115, 76, 54);
	float:left;
	width: 25%; /*100px*/
	color:rgb(38, 1, 1);
	text-align:center;
	
} 


nav a {

	text-decoration:none;
	color:rgb(38, 1, 1);
	line-height:12.5%; /* 50px */
	display:block;
	font: normal normal normal .875em/1.5 Helvetica, Arial, sans-serif;
	letter-spacing: .5px;

}	
	
nav a:hover {
	color:rgb(115, 44, 29); 
}
	



/* Navigation End */



/* Two Column Float */

#main-content {
    margin: 0% auto;
    max-width: 980px;
    
}

#content {
   width: 100%;
}

header{
	padding: .102040816327% 0 .102040816327%; /*1px/980*/
	margin: 0 0 01.020408163%; /*10px*/
	overflow: hidden;
	width: 100%;
}

.left {
	margin: 0px;
	padding: 9px;
	float: left;
	width: 65%/* 600px */;
}

#right {
	margin:0px;
	padding: 9px;
	float: left;
	width: 27.5%/* 275px */;	
}



#gallery{
	position: relative;
	margin: 1% 0% 0% auto;
	padding: 0%;
	list-style-type: none;
	
}

#gallery a{
	float: left;
	clear:right;
	width: auto;
	margin: 0% auto;
	padding: 2% 1% 2%;
}

#gallery li{
	max-width:100%;
}

#seealso {
	float: left;
	clear:right;
	width: 47.5%/* 475px */;
	margin: 0% auto;
	padding: 2% 1% 2%;
	
}	
	

#footer {
	padding: 5%/* 5px */;
	text-align: center;
	clear: both;
	font: normal normal normal .875em/1.5 Helvetica, Arial, sans-serif;
}	





/* End of Two Column Float */

img {
	max-width:100%
}


li {
	font: normal normal normal .938em/1.5 Helvetica, Arial, sans-serif;
}



p {
	clear:both;
	font: normal normal normal .875em/1.5 Helvetica, Arial, sans-serif;
}
	


/* media */

@media screen and (min-width: 481px) and (max-width: 760px){

nav{
	width: 100%;
	float:none;
	clear:both;
}

}

@media screen and (min-width: 100px) and (max-width: 672px){

nav{
	width: 100%;
	float:none;
	clear:both;
}

nav ul {
	float:right;
	width: 100%;
 
}

nav li {
	float:left;
	width: 25%; /*100px*/	
} 

#gallery a{
	float: none;
}

#right {
	float: none;
	clear:left;
	width: 100%;	
}

.left {
	float: none;
	clear:left;
	width: 100%;
}

}


