body{
	background: #E5DFCA;
	font: normal normal normal 14px/1.5 helvetica, arial, sans-serif;
	color: #A99A90;
	margin: 100px auto 0;
	width: 790px;
}

label{
	text-align: right;
	float: left;
	width: 130px;
	padding-right: 10px;
}
/*---------------- forms ---------------*/
input{
	border-radius: 2px;
	border: 1px solid #666;
	width: 200px;
}

div{
	margin-top: 10px;
}

input:focus{
	border: 2px solid #000;
}

h1{
	color: #61748C;
}

.profile-link-prefix{
	display: none;
}

/*----------------text areas----------------*/
textarea{
	border-radius: 2px;
	border: 1px solid #666;
	width: 300px;
}


/*---------agree tos/radio buttons----------*/
#agree_tos, #male, #female{
	width: 15px;
	height: 15px;
}

#field-agree-tos label {
	width: 700px;
	text-align: right;
}

#field-agree-tos li{
	list-style: none;
}
/*-------------- field set ------------*/
fieldset{
	border: none;
	border: 1px solid #666;
}

/*---------------- buttons ------------*/
#submit{
	background: #A69D89;
	font-size: 16px;
	border-radius: 10px;
	float: right;
	width: 150px;
	height: 40px;
	margin: 10px;
	border: none;	
}


#submit:hover{
	background: #E0C7A3;
	font-size: 16px;
}

/*---------------log in-------------*/
.log-in{
	text-align: right;
}