html { 
	background:#8F8C87;
}

h2 {
	color: rgba(21, 34, 69, .75);
	font:bold small-caps 18px/1.5 Helvetica;
	text-decoration:underline;
}


p {
	color:#473B31;
	font-family:Helvetica;
	font-size:14px;
	font-style:normal;
	text-align:left;
	line-height:1.5em;
	word-spacing:1px;
	text-transform:lowercase;	
}