html { 
	background:#8F8C87;
}

/*------- h1-h3 styles start -------*/


h1 {
	color:#152245;
	font:bold small-cap bolder 22px/1.5 Helvetica, sans-serif;
	text-decoration:underline;
	text-shadow: 2px 2px 2px rgba(66, 66, 66, .7);
	letter-spacing: .5px;
}


h2 {
	color: rgba(21, 34, 69, .5);
	font-family:Helvetica, sans-serif;
	font-size:18px;
	font-style:bold;
	font-variant:bold;
	text-align:left;
	text-decoration:underline;
	text-indent: 15px;
	line-height:1.5;
}


h3 {
	color:#213469;
	opacity: .5;
	font-family:Helvetica, sans-serif;
	font-size:16px;
	font-style:bold;
	font-variant:bold;
	text-align:left;
	text-indent: 15px;
	line-height:1.5;
}

/*------- h1-h3 styles end -------*/








/*------- ul link style start -------*/

ul {
	list-style-type: none;
}
	
	
a:link {
	color:#570912; 
	font:14px Helvetica, sans-serif;
	letter-spacing: .5px;	
}

a:visited {
	color:#570912; 
	font:14px Helvetica, sans-serif;
}	

	
a:hover {
	color:#570912; 
	font:14px Helvetica, sans-serif;
}
	
	
a:active {
	color:#570912; 
	font:14px Helvetica, sans-serif;
}


/*------- ul link style end -------*/





img {
vertical-align:text-top;
} 


p {
	color:#473B31;
	font-family:Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:lighter;
	text-align:left;
	text-indent: 15px;
	line-height:1.5em;
	word-spacing:1px;
}


ol li {
	color:#362A1C;
	font-family:Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:lighter;
	text-align:left;
	text-transform:lowercase;
	line-height:1.5em;
	word-spacing:1px;
}