/* ----------------------
------------- HTML */
html {
	/* Old browsers */
	background: rgb(226,226,226);
	/* FF3.6+ */
	background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, 		 rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	/* Chrome,Safari4+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1)));
	/* Chrome10+,Safari5.1+ */
	background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
	/* IE10+ */
	background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
	/* W3C */
	/* IE6-9 */
	background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 );

	font-family: 'Titillium Web', sans-serif;
}

/* ----------------------
------------- HTML End */


/* ----------------------
------------- Basic Page Style */
#gallery ul {
	list-style-type:none;
}	

#featuredimg {
	text-align:center;
}

p {
	font-size:14px;
}

/* ----------------------
------------- Logo */

.logo {
	padding-top:10.5px;
	padding-bottom:10.5px;
	margin:0px auto;
	float: left;
}

/* ----------------------
------------- Logo End */


/* ----------------------
------------- Content Background */

#main-content {
    margin: 0 auto;
    width: 960px;
    padding-left:5px;
    padding-right:5px;
    background:url(../images/texture.jpg);
    
}

#content {
   width: 100%;
}

/* ----------------------
------------- Content Background End */


/* ----------------------
------------- Navigation */

header section {
	overflow:hidden;
}	


nav ul {
	list-style-type:none;
	width:600px;
	padding:0px;
	overflow:hidden;
	margin:0px auto;
	float:right;
}

nav li {
	width:200px;
	float:left;
}	

nav a {
	background:url(../images/nav.jpg) no-repeat;
	display:block;
	height:50px;
	text-indent:100%;
	white-space:no-wrap;
	overflow:hidden;
}

/* ----------------------
------------- Products Nav */

.products {
	background-position: 0px 0px;
}

.products:hover {
	background-position: 0px -50px;
}	

.products:active {
	background-position: 0px -100px;
}

/* ----------------------
------------- Shop Nav */

.shop {
	background-position: -200px -0px;
}

.shop:hover {
	background-position: -200px -50px;
}	

.shop:active {
	background-position: -200px -100px;
}	

/* ----------------------
------------- Support Nav */

.support {
	background-position: -400px -0px;
}

.support:hover {
	background-position: -400px -50px;
}	

.support:active {
	background-position: -400px -100px;
}	

/* ----------------------
------------- Navigation End */



/* ----------------------
------------- Floated Content*/

#featured {
	clear:both;
	width:960px;
}

.content {
	float:left;
	width:600px;
	font-size:14px;
}

.techspec {
	float: right;
	clear:left;
	width: 275px;
	margin:0px;
	padding-left: 9px
	font-size;15px;
}

#gallery{
	width:600px;
	height:100px;
	padding: 0;
	list-style-type: none;
	
}

#gallery a{
	float: left;
	/* clear:right; */
	width: auto;
	margin: 0 auto;
	padding: 2px 1px 2px;
}

#footer {
	padding: 5px;
	text-align: center;
	clear: both;
}	

/* ----------------------
------------- Button CTA */
.button {
	padding: 5px 5px 5px 5px;
	border:solid 2px;
	
	
	 /* Old browsers */
	background: rgb(235,241,246); 
	 /* FF3.6+ */
	background: -moz-linear-gradient(top,  rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%);
	 /* Chrome,Safari4+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(50%,rgba(171,211,238,1)), color-stop(51%,rgba(137,195,235,1)), color-stop(100%,rgba(213,235,251,1)));
	/* Chrome10+,Safari5.1+ */
	background: -webkit-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); 
	 /* Opera 11.10+ */
	background: -o-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); 
	 /* IE10+ */
	background: -ms-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%);
	/* W3C */
	/* IE6-9 */
	background: linear-gradient(to bottom,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */

}