/* ----------------------
------------- Navigation */

nav ul {
	list-style-type:none;
	width:600px;
	padding:0px;
	overflow:hidden;
	margin:0px auto;
}

nav li {
	width:200px;
	float:left;
}	

nav a {
	background:url(../images/nav.jpg) no-repeat;
	display:block;
	height:50px;
	text-indent:100%;
	white-space:no-wrap;
	overflow:hidden;
}