html {
	background:rgb(166, 150, 119);
	font: normal normal normal 16px/1.5 Arial, Helvetica, sans-serif;
}

/* Navigation Start */

h1 {
	margin-top:0px;
	float: left;
	font-size:40px;
}

nav ul {
	list-style-type:none;
	margin-top:0px;
	float:right;
	padding-left:0px;
	width:400px;
	color:rgb(38, 1, 1);
	overflow:hidden;
 
}	





nav li {
	list-style-type:none;
	background:rgb(115, 76, 54);
	float:left;
	width:100px;
	color:rgb(38, 1, 1);
	text-align:center;
	
} 


nav a {

	text-decoration:none;
	color:rgb(38, 1, 1);
	line-height:50px;
	display:block;
	font:14px/30px Helvetica, sans-serif;
	letter-spacing: .5px;

}	
	
nav a:hover {
	color:rgb(115, 44, 29); 
}
	



/* Navigation End */



/* Two Column Float */

#main-content {
    margin: 0 auto;
    width: 960px;
    
}

#content {
   width: 100%;
}

#left {
	margin: 0px 20px 10px;
	padding: 9px;
	float: left;
	display: block;
	width: 475px;
	clear:right;
}

#right {
	margin: 65px 20px 10px;
	padding: 9px;
	float: right;
	display: block;
	width: 250px;	
	clear:left;
}

#sinbad {
	float: right;
	clear:left;
	display: block;
	width: 475px;
}



#gallery{
	position: relative;
	margin: 10px 0px 0px auto;
	padding: 0;
	list-style-type: none;
	
}

#gallery a{
	float: left;
	clear:right;
	display: block;
	width: auto;
	margin: 0 auto;
	padding: 2px 1px 2px;
}

#seealso {
	float: left;
	clear:right;
	display:block;
	width: 475px;
	margin: 0 auto;
	padding: 2px 1px 2px;
}	
	

#footer {
	padding: 5px;
	text-align: center;
	clear: both;
}	



/* End of Two Column Float */

h2 {
	font-size:20px;
}



p {
	clear:both;
	font-size:16px;
}
	
